:root {
  --font-color: #333;
  --background-color: #eee;
}
 
[data-theme='dark'] {
  --font-color: #eee;
  --background-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background 0.3s ease-in;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

input, textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.auth-input {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.auth-input input {
  display: block;
  width: 100%;
}

.auth-input__title {
  margin: 20px auto;
  font-weight: bold;
  text-align: center;
}

.auth-input__body {
  min-height: 175px;
  min-width: 400px;
}

.auth-input button {
  display: block;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: var(--font-color);
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.auth-input a {
  font-size: 14px;
  color: #aaa;
}

.navigation ul li {
  display: inline-block;
  padding: 16px;
}
 
.navigation ul li a {
  font-size: 20px;
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}

.navigation ul li a:hover {
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: var(--font-color);
}

.note-app__body {
  max-width: 1000px;
  margin: auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-input {
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 48px;
}

.note-input input, .note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  margin: 20px auto;
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: var(--font-color);
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  text-decoration: none;
  color: var(--font-color);
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }

  .note-search input {
    display: block;
    margin: 20px auto;
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    display: block;
    margin: 20px auto;
    min-width: 600px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.note-detail {
  margin: 0 auto;
  max-width: 800px;
}

.note-detail__title {
  margin: 20px auto;
  font-weight: bold;
}

.note-detail__body {
  min-height: 240px;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.not-found-page__title {
  font-size: 54px;
  font-weight: 900;
}